attrs==23.1.0
aws-sam-translator==1.74.0
blinker==1.6.2
boto3==1.28.35
botocore==1.31.35
cfn-lint==0.79.9
click==8.1.7
Flask==2.3.3
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jschema-to-python==1.2.3
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.17.3
junit-xml==1.9
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.1
pbr==5.11.1
Pillow==10.0.1
pydantic==1.10.12
pypng==0.20220715.0
pyrsistent==0.19.3
python-dateutil==2.8.2
PyYAML==6.0.1
qrcode==7.4.2
regex==2023.8.8
s3transfer==0.6.2
sarif-om==1.0.4
six==1.16.0
sympy==1.12
typing_extensions==4.7.1
urllib3==1.26.16
Werkzeug==2.3.7
