<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V863CF3EXJ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V863CF3EXJ');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>QR Generator - About</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/fav/favicon-16x16.png">
    <link rel="manifest" href="/static/fav/site.webmanifest">

  </head>

  <body>
    
    <center>
        <img src="/static/qr.png" width="500">
      <div>
        <h2>how we built?</h2>
        <p>I worked on a QR code generating SaaS (software as a service) website. With only a few lines of Python, we built a QR generator from scratch. I registered the domain QRCodeMaker.ca which should be up and running tomorrow, giving billions of people around the world a quick and easy way to generate QR codes.  
        <p>This project takes some very simple Python code to translate a string into a QR code, and build a website around it in flask, turning our very simple program into a very powerful resource. There are a number of things that we could do to expand this project such as data validation, better logging, and an internal dashboard.
        </p> 
      </div>
    <pre>
      
    ><a href="https://docs.google.com/document/d/1Z3jaT8xIsMkf1iPETURlS3YMIr7B9I0Wa_Ay5E9IgiE/edit?usp=sharing">We started with the project requirements</a>

    
    <a href="https://pypi.org/project/qrcode/">We worked on the Python code to generate QR codes (only two lines of code)</a>

    
    I then created a logo in Canva

    Once this was done I worked on the HTML template and built a form and a table
    
    and added a favicon
    https://favicon.io/emoji-favicons/technologist/
    
    From there, I built out the site in flask

    I then added logging and real-time analytics using Google Analytics (see screen shot)
    </pre>


<br>

<img src="/static/ga.png" width="500">
<br>
<br>
<a href="/templates/index.html"><button>Back to QR Code Maker</button></a>
</center>
<br>
<br>
 







  </body>
</html>