<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/output.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>QR Generator</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/fav/favicon-16x16.png">
    <link rel="manifest" href="/static/fav/site.webmanifest">
  </head>
  <body class="bg-gray-900 text-white min-h-screen flex items-center justify-center">
    <div class="text-center">
      <!-- QR Image -->
      <div class="mb-6 flex justify-center">
        <img src="/static/qr.png" alt="QR Code" class="w-64 h-64 object-cover">
      </div>

      <!-- Download button -->
      <div class="mt-8">
        <a href="/static/qr.png" download="QRCode.png" class="px-4 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-700 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 hover:bg-gradient-to-r hover:from-[#FD5E57] hover:to-[#FC473E]"">
          Download your QR code
        </a>
      </div>

      <div class="flex justify-center items-center mt-4">
        <a href="./" class="bg-white text-black border border-gray-300 hover:bg-gray-200 hover:text-black p-2 rounded">
          Back to Home
        </a>
    </div>
  </body>
</html>
